#messageauteur{
    text-transform: uppercase;
    font-weight: bold;
}
#affichagemessage{
    background-color: #ececec;
}
#message{
    height: 200px;
}
#envoi{
    width: 250px;
   height: 50px;
}

#monmessage{
    margin-right: 60px;
}
/* ------------------ MEDIA ---------------- */

@media (max-width: 1450px) {
    #monmessage{
        margin-right: 60px;
    }
}

@media (max-width: 768px) {
    #monmessage{
        margin-right: 0px;
    }
    #envoi{
        margin-bottom: 20px;
    }
}
