body {
}

/* FOMULAIRE DE CONNEXION */
.formconnex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;

}

/*           BANNIERE   */
.banniere {
    text-align: center;
}

.bienvenue {
    margin-left: 30px;
}

.nomdusite {
    font-size: 2em;
    margin-left: 30px;
}

.argument {
    font-size: 1.5rem;
    margin-left: 30px;
}

.forminscript {
    padding-left: 30px;
}

.colgauche{
    margin-left: 40px;
}
.card-body{
    border: dimgrey solid 1px;
}

/* Inscription*/
.inscription{
    font-size: 1.5rem;
    /*text-align: center;*/
}

h4{
    margin-top: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 80px;
}

@media (max-width: 1330px) {
.apropos{
    width: 70%;
}
    .card-body, .inscription, .inscription2{
        margin-left: -100px;
    }
}
@media (max-width: 950px) {
    .apropos{
        width: 70%;
    }
    .card-body{
        margin-left: -100px;
    }
    .formconnex{
        width: 300%;
    }
}





