body {
}

/* FOMULAIRE DE CONNEXION */
.formconnex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;

}
/*  NAVBAR   */
.navbar-collapse {
    display: flex;
    justify-content: space-between;
}
.bonjour {
    display: flex;
}
.nav-item {
    color: white;
}
a {
    color: white;
}
/*           BANNIERE   */
.banniere {
    text-align: center;
}

.bienvenue {
    margin-left: 30px;
}

.nomdusite {
    font-size: 2em;
    margin-left: 30px;
}

.argument {
    font-size: 1.5rem;
    margin-left: 30px;
}

.forminscript {
    padding-left: 30px;
}

.colgauche{
    margin-left: 40px;
}

.card-body{
    margin-left: 10%;
    border: dimgrey solid 1px;
}


/* Inscription*/
.inscription{
    font-size: 1.5rem;
    /*text-align: center;*/
}

h4{
    margin-top: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 80px;
}

@media (max-width: 1330px) {
.apropos{
    width: 70%;
}

    .card-body, .inscription, .inscription2{
        margin-left: -100px;
    }
}

#smallscreen{
    display: none;
}

/*Media 810px*/
@media (max-width: 864px) {

    /*Header*/
    .logo {
        display: none;
    }

    #emailco {
        width: 85%;
    }

    #mdpco {
        width: 85%;
    }

    .form-control {
        margin-right: 200px;
        height: 80%;
    }

    .form-group {
        font-size: medium;
    }

    /* bannière*/
    .bienvenue {
        margin-top: 5%;
        font-size: x-large;
    }

    h2 {
        text-align: center;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .banniere {
        text-align: center;
    }

    .nomdusite {
        font-size: xx-large;
        margin-left: 0;
    }

    .argument {
        font-size: medium;
    }

    .apropos {
        width: 130%;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .inscription .inscription2 {
        margin-left: 120px;
        font-size: small;
    }

    p {
        margin-left: 30px;
        margin-right: 0;
    }

    .card-body {
        width: 80%;
    }

    .card-body {
        border: none;
        margin-left: 15px;
    }

    .formco{
        margin-left: 70%;
        border: dimgrey solid 1px;
    }

    #bigscreen {
        display: none;
    }
    #smallscreen {
        display: inline;
        margin-bottom: 20px;
        margin-left: 52px;
        width: 80%;
    }
}
/*Media 768 px*/
@media (max-width: 766px) {
    #smallscreen {
        width: 185px;
    }
}

/*Media 530 px*/
@media (max-width: 530px) {
    .formco{
        /*align-items: center;*/
        /*margin: auto;*/
    }

}







