/*  NAVBAR   */
.navbar-collapse {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    color: white;
}
.navbar-expand-lg {
    padding: 8px 24px;
}
.navbar a {
    color: white;
}
.form-control {
    border: 3px solid rgba(92, 114, 116, 0.55) !important;
}
.bonjour {
    display: flex;
}
.davy {
    display: flex;
    align-items: center;
}
.policelogo {
    font-family: 'Saira Stencil One', cursive;
    color: #b30a0a !important;
    text-shadow: 0.05em 0.05em white !important;
}
body {
    margin-top: 82px
}

/*  FOOTER  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 20px 0 20px 0;
}
footer a {
    color: white;
}
footer a:hover {
    color: white;
    text-decoration:none;
}
.double {
    font-size: 2em;
}
.triple {
    font-size: 3em;
}
.quatre {
    font-size: 4em;
}