body {
    //background-color: rgba(172, 172, 173, 0.66);
    //color: white;
    padding-top: 40px;
}

.formconnex {
    //padding-left: 400px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logo {
    padding: 0 40px 15px 0;
}
.banniere {
    text-align: center;
}
/* carousel */
.carousel .item{
    max-height: 200px;
}


/*formulaire*/
.form-inline{
    margin-top: 25px;
    margin-left: 25px;
}

/*concept/bienvenue*/

.bienvenue {
    font-size: 4em;
    margin-left: 30px;
}
.nomdusite {
    font-size: 6em;
    margin-left: 30px;
}
.argument {
    font-size: 2em;
    margin-left: 30px;
}
.corps {
    display: flex;
}
.forminscript {
    padding-left: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 40px 0 40px 0;
    margin-top: 60px;
}







