/* --------------------  MAIN ------------------------  */

.img-thumbnail{
margin-right: 25px;
}

#profil{
    border: 1px solid dimgrey;
    margin: 10% 10% 10% 10%;
}
.texteprofil{
    margin-top: 20px;
}

