/*  --------------  MON PROFIL -------------- */
/* --------------  Carte profil -------------- */
#profil, #apropos{
    background-color: black;
    color: white;
}
.img-thumbnail{
    max-width: 300px;
    max-height: 400px;
}
hr {
    background-color: dimgrey;
}
#profil{
    margin: 0;

}
h2{
    color: white;
}
@media (max-width: 462px) {

    #boutonretour{
        line-height: 36.5px;
    }
}


/*  --------------  EDITION DE MON PROFIL -------------- */
#formedition{
    background-color: black;
    color: white;
}

.txt{
    margin-left: 1%;
    margin-right: 1%;
}


@media (max-width: 513px) {

#boutonretour{
    line-height: 36.5px;
}
}

@media (max-width: 434px) {

    #boutonretour{
        line-height: 24px;
    }
}

@media (max-width: 480px) {

    #boutonretour{
        margin-left: -25px;
    }
}

/* Pour Pixel 2 */
@media (max-width: 432px) {

    #boutonretour{
        line-height: 36px;
    }
}

/* Pour iphone 6/7/8 et Galaxy S5*/
@media (max-width: 372px) {

    #boutonretour{
        line-height: 25px;
    }
}

/* Pour iphone 5*/
@media (max-width: 320px) {

    #rowbouton{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #boutonretour{
        margin-bottom: 20px;
        margin-left: -68px;
        width: 200px
    }

    #boutonmodif{
        margin-left: -68px;
        width: 200px
    }
}

/* Pour iphone 5*/
@media (max-width: 320px) {

    #boutonretour{
        margin-left: -75px;
    }

    #boutonmodif{
        margin-left: -75px;
    }
}






