

/* --------------  Carte profil -------------- */
#profil, #apropos{
    background-color: black;
    color: white;
}
.img-thumbnail{
    max-width: 300px;
    max-height: 400px;
}
.profilinfo{
    max-width: 300px;
}

@media (max-width: 770px) {
        #profil {
            display: flex;
            flex-direction: column;
        }
    #genre {
        margin-bottom: 5%;
    }
    #droite{
        text-align: center;
    }
}

/* --------------  Carte profil -------------- */
#profil {
    background-color: black;
    color: white;
}

@media (max-width: 770px) {
    #profil {
        display: flex;
        flex-direction: column;
    }
    #genre {
        margin-bottom: 5%;
    }
    /*#droite{*/
    /*    text-align: center;*/
    /*}*/
}
