.mt {
    margin-top: 90px;
}
.main {
    display: flex;
}
.card {
    margin-bottom: 30px;
    background-color: rgba(85, 152, 168, 0.3);
    border: 3px solid grey;
}
/*.taille_img {
    min-height: 160px;
    max-height: 220px;
}*/
.card-body {
    padding-bottom: 6px;
}
.btn-dark {
    margin-bottom: 8px;
}
.mailbtn {
    font-size: xx-small;
}
.liste {
    display: flex;
    justify-content: space-evenly;
}
#plus {
    color: white;
}
.centrez {
    text-align: center;
}
.voici {
    font-size: 120%;
}
.visiter {
    font-size: 1em;
}
.bonfilm {
    font-size: 2em;
    font-weight: bold;
    text-shadow: black;
}
.colonnes {
    display: flex;
    justify-content: space-around;
}
