
.police {
    font-family: 'Mystery Quest', cursive;
    font-size: 5em;
    text-align: center;
}
.card {
    margin-bottom: 30px;
}
.liste {
    display: flex;
    justify-content: space-evenly;
}
#plus {
    color: white;
}
