
/*  NAVBAR   */
.navbar-collapse {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    color: white;
}
a {
    color: white;
}
.bonjour {
    display: flex;
}
.card {
    margin-bottom: 30px;
}
.liste {
    display: flex;
    justify-content: space-evenly;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 80px;
}
