{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}

    {% for user in users %}
    <tr>
        <td>{{ user.pseudo }}</td>
        <td>{{ user.email }}</td>
{#        <td>{{ user.ville }}</td>#}
    </tr>
    {% endfor %}
{% endblock %}
